<h1>Seleccionar tipo de equipo</h1>

<div class="mt-4">

    <a asp-action="CreateTelescopio" class="btn btn-primary">
        Telescopio
    </a>

    <a asp-action="CreateMontura" class="btn btn-secondary">
        Montura
    </a>

    <a asp-action="CreateCamara" class="btn btn-success">
        Cámara
    </a>

    <a asp-action="CreateOcular" class="btn btn-dark">
        Ocular
    </a>

</div>